{{ $data := index site.Data site.Language.Lang }}

{{ with $data.banner.banner }}
  {{ if $data.banner.banner.enable }}
    {{/* Welcome Slider */}}
    {{ $bg := resources.Get .bg_image }}
    <section class="hero-area lozad" data-background-image='{{ $bg.Permalink }}'>
      <div class="block">
        {{ if .icon }}
        <div class="video-button">
          <i class="{{ .icon }}"></i>
        </div>
        {{ end }}
        <h1>{{ .title | markdownify }}</h1>
        <p>{{ .content | markdownify }}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link }}" class="btn btn-transparent page-scroll">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </section>
    {{/* /Welcome Slider */}}
  {{end}}
{{end}}
