{{ $banner := index site.Data site.Language.Lang "banner" }}

{{ with $banner }}
  {{ if .enable }}
    {{/* Welcome Slider */}}
    {{ $resource := resources.Get .bg_image }}
    <section class="hero-area lozad" data-background-image='{{ $resource.Permalink }}'>
      <div class="block">
        {{ if .icon }}
          <div class="video-button">
            <i class="{{ .icon }}"></i>
          </div>
        {{ end }}
        <h1>{{ .heading | markdownify }}</h1>
        <p>{{ .subheading | markdownify }}</p>
        {{ with .button }}
          {{ if .button.enable }}
            <a href="{{ .link }}" class="btn btn-transparent page-scroll">{{ .label }}</a>
          {{ end }}
        {{ end }}
      </div>
    </section>
    {{/* /Welcome Slider */}}
  {{end}}
{{end}}
