{{ $contact := index site.Data site.Language.Lang "contact" }}

{{ with $contact }}
  {{ if $contact.enable }}
  {{/* Start Contact Us  */}}
    <section id="contact" class="contact-us section-bg">
      <div class="container pb-5">
        {{/* section title  */}}
        <div class="row">
          <div class="col-lg-12">
            <div class="title text-center wow fadeIn" data-wow-duration="500ms">
              <h2>{{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
                {{ with .title }} {{ index (split . " ") 1 | safeHTML }} {{ end }}</span></h2>
              <div class="border-meshna"></div>
            </div>
          </div>
          {{/* /section title  */}}

          {{/* Contact Details  */}}
          <div class="contact-info col-lg-6 wow fadeInUp" data-wow-duration="500ms">
            <!-- <div class="block col-12"> -->
              <h3>{{ .subtitle | markdownify }}</h3>
            <!-- </div> -->
            <!-- <div class="block col-12"> -->
              <p>{{ .content | markdownify }}</p>
            <!-- </div> -->

            {{ range .info_list }}
              <div class="con-info clearfix">
                <i class='fa fa-{{ .icon | default "question" }}'></i>
                &nbsp;
                <span>{{ .title }}</span>
                <br>
                <a {{ printf "href=%q" .link | safeHTMLAttr }}>{{ .value }}</a>
              </div>
              <!-- <div class="col-sm-11 col-md-8 col-lg-9 col-xl-10 offset-sm-1 offset-md-0 mb-4">
              </div> -->
            {{ end }}
          </div>

          {{/* Contact Form  */}}
          <!-- <div class="row"> -->
          {{ if .contact_form.enable }}
          {{ with .contact_form }}
          <div class="col-lg-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
            <h3>{{ .contact_subtitle | markdownify }}</h3>
            <form id="contact-form" class="form-meshna" action="https://formspree.io/myybgrqq"
            method="POST" role="form">
              <div class="form-group">
                <input type="text" placeholder="{{ .name }}" class="form-control" name="name" id="name" required>
              </div>
              <div class="form-group">
                <input type="email" placeholder="{{ .email }}" class="form-control" name="email" id="email" required>
              </div>
              <!-- <div class="form-group">
                <input type="text" placeholder="{{ .subject }}" class="form-control" name="subject" id="subject" required>
              </div> -->
              <div class="form-group">
                <textarea rows="6" placeholder="{{ .message }}" class="form-control" name="message" id="message" required></textarea>
              </div>
              <div id="cf-submit">
                <button type="submit" id="contact-submit" class="btn btn-transparent btn-block" value="{{ .submit }}">{{ .submit }}</button>
              </div>
              <p id='form-status'></p>
            </form>
          </div>
          {{ end }}
          {{ else }}
          <div class="contact-details">
            {{ range .contact_list }}
            <div class="con-info clearfix">
              <i class="fa {{ .icon }}"></i>
              <span>{{ .info }}</span>
            </div>
            {{ end }}
          <!-- </div> -->
          {{ end }}
        </div>
      </div>
    </section>
  {{/* /contact  */}}

  {{ end }}
{{ end }}
