{{ $cta := index site.Data site.Language.Lang "cta" }}

{{ with $cta }}
  {{ if $cta.enable}}
    {{/* Start Call To Action  */}}
    {{ $bg := resources.Get .bg_image }}
    <section id="cta" class="call-to-action section-sm bg-1 overly lozad" data-background-image="{{ $bg.Permalink }}">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>{{ .heading | markdownify }}</h2>
            <p>{{ .subheadin | markdownify }}</p>
            {{ with $cta.button }}
              {{ if $cta.button.enable }}
                <a href="{{ .link }}" class="btn btn-main page-scroll">{{ .label }}</a>
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </section>
    {{/* Start Services Section */}}
  {{ end }}
{{ end }}
