{{ $data := index site.Data site.Language.Lang }}

{{ with $data.cta.cta}}
  {{ if $data.cta.cta.enable}}
    {{/* Start Call To Action  */}}
    {{ $bg := resources.Get .bg_image }}
    {{ $bg_webp := resources.Get .bg_image_webp }}
    <section id="cta" class="call-to-action section-sm bg-1 overly" style='background-image: url("{{ $bg_webp.Permalink }}")'>
      {{/* this image is for trigger this section fallback background image */}}
      <img class="lozad" style="display: none;" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ $bg.Permalink }})'" data-src="{{ $bg_webp.Permalink }}" />
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>{{ .title | markdownify }}</h2>
            <p>{{ .content | markdownify }}</p>
            {{ with $data.cta.cta.button }}
              {{ if $data.cta.cta.button.enable }}
                <a href="{{ .link }}" class="btn btn-main page-scroll">{{ .label }}</a>
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </section>
    {{/* Start Services Section */}}
  {{ end }}
{{ end }}
