{{ $data := index site.Data site.Language.Lang "front_page" }}

{{ with $data.funfacts }}
  {{ if $data.funfacts.enable }}
    {{/* Start Counter Section  */}}
    {{ $bg := resources.Get .bg_image }}
    <section id="counter" class="parallax-section bg-1 section overly lozad" data-background-image="{{ $bg.Permalink }}">
      <div class="container">
        <div class="row justify-content-center">
          {{ range .counter_item }}
          <div class="col-lg-3 col-md-6 col-12 text-center wow fadeInDown" data-wow-duration="500ms">
            <div class="counters-item">
              <i class="fa {{ .icon }}"></i>
              <span class="count" data-count="{{ .count }}">0</span>
              <h3>{{ .title | markdownify }}</h3>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </section>
    {{/* /Counter Section  */}}
  {{ end }}
{{ end }}
