{{ $help := index site.Data site.Language.Lang "help" }}

{{ with $help}}
  {{ if $help.enable}}
    <section id="help" class="bg-one section overly">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="title text-center wow fadeIn" data-wow-duration="500ms">
              <h2>
                {{ with .title }}{{ index (split . " ") 0 | safeHTML }}{{ end }}
                <span class="color">
                  {{ with .title }}{{ index (split . " ") 1 | safeHTML }}{{ end }}
                </span>
              </h2>
              <div class="border-meshna"></div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center xyzzy">
          {{ range .items}}
          <article class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-duration="500ms">
            <div class="card service-block text-center h-100">
              <div class="service-icon text-center">
                <i class="fa fa-{{ .icon }}"></i>
              </div>
              <h3>{{ .name | markdownify }}</h3>
              <p>{{ .content | markdownify }}</p>
            </div>
          </article>
          {{ end }}
        </div>
      </div>
      {{ with $help.button }}
        {{ if .enable }}
          <div class="col-lg-12 text-center">
            <a href="{{ .link }}" class="btn btn-transparent">{{ .label }}</a>
          </div>
        {{ end }}
      {{ end }}
    </section>
  {{ end }}
{{ end }}
