{{ $section_name := "Our Team" }}
{{ $team_members := index site.Data site.Language.Lang "team" }}
{{ $unhidden_members := slice }}
{{ range $team_members }}
  {{ if not .hidden }}
    {{ $unhidden_members = $unhidden_members | append . }}
  {{ end }}
{{ end }}

{{ with $unhidden_members }}
  {{ if $unhidden_members }}
    <section id="team" class="section">
      <div class="container">
        <div class="row justify-blurb-center">
          <div class="col-lg-12">
            <div class="title text-center wow fadeInUp" data-wow-duration="500ms">
              <h2>
                {{ with $section_name }}
                  {{ index (split . " ") 0 | safeHTML }}
                  <span class="color">{{ index (split . " ") 1 | safeHTML }}</span>
                {{ end }}
              </h2>
              <div class="border-meshna"></div>
            </div>
          </div>
          {{ range $unhidden_members }}
            <div class="col-lg-3 col-md-6 col-12 wow fadeInDown" data-wow-duration="500ms">
              <div class="team-member">
                <div class="member-photo">
                  {{ $image := resources.Get (.portrait | default "https://via.placeholder.com/500/666/999") }}
                  {{ $image := $image.Resize "350x350" }}
                  {{ $image := $image.Fit "350x350" }}
                  <img class="img-fluid lozad" data-src="{{ $image.Permalink }}" alt="{{ .title }}">
                  {{ with .social_media }}
                    {{ if . }}
                      <div class="mask">
                        <ul class="list-inline">
                          {{ range . }}
                            <li class="list-inline-item"><a href="{{ .url | safeURL }}"><i class="fa fa-{{ .icon_name }}"></i></a></li>
                          {{ end }}
                        </ul>
                      </div>
                    {{ end }}
                  {{ end }}
                </div>
                <div class="member-meta">
                  <h4>{{ .title }}</h4>
                  <span>{{ .role | markdownify}}</span>
                  <p>{{ .blurb | markdownify }}</p>
                </div>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}