{{ $testimonial := index site.Data site.Language.Lang "testimonial" }}


{{ with $testimonial }}
  {{ if $testimonial.enable }}
    {{ $bg := resources.Get .bg_image }}
    {{/* Start Testimonial  */}}
    <section id="testimonial" class="testimonial overly section bg-2 lozad" data-background-image="{{ $bg.Permalink }}">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            {{/* testimonial wrapper  */}}
            <div id="testimonials" class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">
              {{ range .testimonial_item }}
                {{/* testimonial single  */}}
                <div class="item text-center">
                  {{ $img := resources.Get .image }}
                  {{/* client photo  */}}
                  <div class="client-thumb">
                    <img class="img-fluid lozad" data-src="{{ $img.Permalink }}" alt="{{ .name }}">
                  </div>

                  {{/* client info  */}}
                  <div class="client-info">
                    <div class="client-meta">
                      <h3>{{ .title }}</h3>
                      <span>{{ .date }}</span>
                    </div>
                    <div class="client-comment">
                      <p>{{ .content | markdownify }}</p>
                    </div>
                  </div>
                </div>
                {{/* /testimonial single  */}}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </section>
    {{/* /testimonial  */}}
  {{ end }}
{{ end }}
