# Hugo default output directory
/public

# Forestry CMS Admin file -- otherwise it overwrites the token in the repo
/static/admin/index.html

# Caching that we don't need in Git
/resources

# NPM stuff
# gulpfile.js
# package.json
package-lock.json
node_modules/

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

# Other
.htaccess

# Editor Configurations
/.vscode
