{{/* Banner Image element for single-page Markdown documents.

  Usage: {{< banner-img src="path/to/img.png" >}}

  Named Parameters (required):
    $src => The path to the data file for the user, relative to the {Assets} directory

  Named Parameters (optional):
    $id => element ID
    $alt => The alt-text for the inner img tag
    $width => How wide you want the image to render
    $height => How tall you want the image to render

*/}}

{{- $defaultURL := "https://via.placeholder.com/1024x256/666/999" -}}

<div class="card border-0 my-4 shadow shortcode banner-image">
  <div class="row no-gutters">
    <div class="col-xs-auto">
      <img class='card-img'
        {{ with .Get "id" -}} id="{{ . }}" {{- end }}
        {{ with .Get "width" -}} width="{{ . }}" {{- end }}
        {{ with .Get "height" -}} height="{{ . }}" {{- end }}
        src='
          {{ .Scratch.Set "src" (.Get "src") }}
          {{- with $url := .Get "src" -}}
            {{- $fullURL := $url | absURL -}}
            {{- if hasPrefix $fullURL site.BaseURL -}}
              {{- with $img := resources.Get $url -}}
                {{- .Permalink -}}
              {{- else -}}
                {{- warnf "warn: could not find image at '%s', using default" $fullURL -}}
                {{- $defaultURL -}}
              {{- end -}}
            {{- else -}}
              {{- $fullURL | safeHTMLAttr -}}"
            {{- end -}}
          {{- else -}}
            {{- warnf "warn: missing 'src' attr, using default" -}}
            {{- $defaultURL -}}
          {{- end -}}
        '
        {{ with .Get "alt" -}} alt="{{ . }}" {{- else }}{{ warnf "a11y: missing 'alt' attribute in banner-image shortcode for %s" (.Scratch.Get "src") }}{{ end }}
      />
    </div>
  </div>
</div>
