{{/* User Bio element for single-page Markdown documents.

  Usage: {{< user-bio data="team/jessie-james.yml" >}}

  Named Parameters (optional):
    $data => The path to the data file for the user, relative to the {Data / Lang} directory

  Positional Parameters:
    0 => The path to the data file for the user, relative to the {Data / Lang} directory

*/}}

{{ $s := newScratch }}


{{ if .IsNamedParams }}
  {{ $rawPath := .Get "data" }}
  {{ $s.Set "rawPath" $rawPath }}
  {{ $s.Set "path" (path.Split $rawPath) }}
{{ else }}
  {{ $rawPath := .Get 0 }}
  {{ $s.Set "rawPath" $rawPath }}
  {{ $s.Set "path" (path.Split $rawPath) }}
{{ end }}


{{/* User Datafile Path Ops */}}
{{ $path := $s.Get "rawPath"}}
{{ $pathDirs := ($s.Get "path").Dir }}
{{ $pathBase := ($s.Get "path").File }}
{{ $pathExt := ($s.Get "path" | path.Ext) }}


{{/* Get User Data from file */}}
{{ with $data := index site.Data site.Language.Lang (trim $pathDirs "/") (replace $pathBase $pathExt "") }}
  {{ $s.Set "data" $data }}

  {{ with $title := $data.title | title }} {{ $s.Set "title" $title }}
  {{ else }} {{ errorf "fatal: data file '%s' is missing required field 'title'" $path }} {{ end }}

  {{ with $role := $data.role | title }} {{ $s.Set "role" $role }}
  {{ else }} {{ errorf "fatal: data file '%s' is missing required field 'role'" $path }} {{ end }}

  {{ with $about := $data.about | markdownify }} {{ $s.Set "about" $about }}
  {{ else }}
    {{ warnf "warn: data file '%s' is missing field 'about', using default" $path }}
  {{ end }}

  {{ with $data.portrait }}
    {{ with resources.Get . }}
      {{ $s.Set "imageURI" .Permalink }}
    {{ else }}
      {{ warnf "warn: unable to get image file at '%s', using default" . }}
    {{ end }}
  {{ else }} {{ warnf "warn: data file '%s' is missing field 'portrait', using default" $path }} {{ end }}

{{ else }} {{ errorf "fatal: unable to access user data file %s => %s" $path .Position }} {{ end }}
{{ $title := $s.Get "title" | default "Person McGerson" }}
{{ $role := $s.Get "role" | default "" }}
{{ $about := $s.Get "about" | default "No biography available" }}
{{ $imageURI := $s.Get "imageURI" | default "https://via.placeholder.com/500/666/999" }}






{{ printf "### **%s** -- %s" $title $role | markdownify }}
<div class="card border-0 rounded-0 mb-3 shadow shortcode user-bio team-member">
  <div class="row no-gutters">
    <div class="col-lg-3 col-md-4">
      <img class="card-img-top rounded-0" alt='Portrait of {{ $title }}' src='{{ $imageURI }}'>
    </div>
    <div class="col-lg-9 col-md-8">
      <div class="card-body pt-3 pb-0">
        <div class="card-text">
          <p>{{ $about }}</p>
        </div>
      </div>
    </div>
  </div>
</div>