#endorsements
  %a{href: 'http://www.RustBuilt.org'}
    %img{ src: '/images/pennabuilt-sm.png', 'data-src-webp' => '/images/pennabuilt-sm.webp', alt: 'We are PennaBuilt, a RustBuilt community', title: 'We are PennaBuilt, a RustBuilt community' }
