%head
  %meta{:charset => "UTF-8"}/
  %meta{:content => "yes", :name => "mobile-web-app-capable"}/
  %meta{:content => "#f5ca00", :name => "theme-color"}/
  %title
    {{ page.title }}
  %link{ href:'//fonts.googleapis.com/css?family=Roboto:400,300', rel: 'stylesheet', type: 'text/css' }
  %link{ href:'/styles/main.css', rel: 'stylesheet', type: 'text/css' }
  %link{ href:'/rss.xml', rel: 'alternate', type: 'application/rss+xml', title: 'META MESH Blog' }
  %script{ type: 'text/javascript', src: '/js/script.js' }
