#mc_embed_signup
  %form#mc-embedded-subscribe-form.validate{ action: "http://metamesh.us3.list-manage1.com/subscribe/post?u=7ad183531de6652b7c4b9204c&amp;id=883bacadb0",
       method: "post",
       name: "mc-embedded-subscribe-form",
       target: "_blank",
       novalidate: true }
  %h3 Subscribe to our mailing list
  %label{for:"mce-EMAIL"} Email Address *
  %input#mce-EMAIL.required.email{type:"email", value:"", name:"EMAIL", title: "required"}
  %label{for:"mce-FNAME"} First Name
  %input#mce-FNAME{type: "text", value: "", name: "FNAME"}
  %label{for:"mce-LNAME"} Last Name
  %input#mce-LNAME{type: "text", value: "", name: "LNAME"}
  %input#mc-embedded-subscribe.button{type:"submit", value:"Subscribe", name:"subscribe"}
  #mce-responses.clear
    #mce-error-response.response{style: "display:none"}
    #mce-success-response.response{style: "display:none"}
  .catch-bots{style:"position: absolute; left: -5000px;"}
    %input{type:"text", name:"b_7ad183531de6652b7c4b9204c_883bacadb0", value: ""}
