.changetip_tipme_button{"data-bid" => "19da9d2d-ffc6-49d2-b710-ee23820e620f", "data-uid" => "2d2de40cd2504d99ab5cf364ad41794b"}
:javascript
  (function(document,script,id){var js,r=document.getElementsByTagName(script)[0],protocol=/^http:/.test(document.location)?'http':'https';if(!document.getElementById(id)){js=document.createElement(script);js.id=id;js.src=protocol+'://widgets.changetip.com/public/js/widgets.js';r.parentNode.insertBefore(js,r)}}(document,'script','changetip_w_0'));
