{{ define "main" }}

{{ partial "navigation.html" . }}

<style>
  h1 {
    margin-bottom: 35px;
  }
  /* commented inline CSS removed */
</style>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h1>{{ .Title }}</h1>
        <!-- <ul class="list-inline mb-50">
          <li class="list-inline-item">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</li>
        </ul> -->
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="post-single-content">
          {{ .Content }}
        </div>
        {{ if site.Params.post_share }}
          {{ partial "post-share.html" . }}
        {{ end }}
      </div>
    </div>
  </div>
</section>

{{ if eq .Title "Projects" }}
  {{ partial "project-contact.html" }}
{{ end }}

{{ if eq .Title "How to Help" }}
  {{ partial "volunteer-contact.html" }}
{{ end }}

{{ end }}