{{ define "main" }}

{{ partial "navigation.html" . }}

<style>
  h1 {
    margin-bottom: 35px;
  }
/* table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin-bottom: 2em;
}

table thead {
  display: none;
}

table img {
  max-width: 200px;
  margin-top: 0.5em;
  margin-right: 1em;
  vertical-align: top;
}

table, ol, li, dl {
  font-family: "Quattrocento Sans", sans-serif;
}

p, li, td {
  color: rgba(255, 255, 255, 0.8);
}

tr td:first-child {
  color: white;
  font-weight: bold;
}

p a, li a, th a, td a {
  color: #cdbc17;
  text-decoration: underline dotted #cdbc17;
}

img.banner {
  margin-bottom: 1em;
  width: 100%;
}

dl dt {
  color: rgba(255, 255, 255, 1);
  margin-top: 0.5em;
}

dl dd {
  color: rgba(255, 255, 255, 0.8);
  margin-left: 2em;
  margin-bottom: 1em;
}

dl dd a {
  color: #cdbc17;
  text-decoration: underline dotted #cdbc17;
}

dl dd a:hover {
  color: #cdbc17;
} */
</style>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h1>{{ .Title }}</h1>
        <!-- <ul class="list-inline mb-50">
          <li class="list-inline-item">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</li>
        </ul> -->
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="post-single-content">
          {{ .Content }}
        </div>
        {{ if site.Params.post_share }}
          {{ partial "post-share.html" . }}
        {{ end }}
      </div>
    </div>
  </div>
</section>

{{ if eq .Title "Projects" }}
  {{ partial "contact.html" }}
{{ end }}

{{ end }}