{{ define "main" }}

{{ partial "navigation.html" . }}

<style>
  h1 {
    margin-bottom: 35px;
  }
  /* commented inline CSS removed */
</style>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h1>{{ .Title }}</h1>
        <!-- <ul class="list-inline mb-50">
          <li class="list-inline-item">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</li>
        </ul> -->
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="post-single-content">
          {{ .Content }}
        </div>
        {{ if site.Params.post_share }}
          {{ partial "post-share.html" . }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
<!-- 
{{ if eq .Title "Projects" }}
  {{ partial "project-contact.html" }}
{{ end }}

{{ if eq .Title "How to Help" }}
  {{ partial "volunteer-contact.html" }}
{{ end }} -->

{{ if .Params.form_builder }}
{{/* Start Contact Us  */}}
<section id="contact" class="contact-us section-bg">
  <div class="container pb-5">
    <div class="row">
      {{/* section title */}}
      <div class="col-lg-12">
        <div class="title text-center wow fadeIn" data-wow-duration="500ms">
          <h2><span class="color">{{ .Params.form_title }}</span></h2>
          <div class="border-meshna"></div>
          <h6 class="col-lg-8 offset-lg-2">{{ .Params.subtitle | markdownify }}</h6>
        </div>
      </div>
      {{/* /section title  */}}

      {{/* Contact Form  */}}
      <!-- <div class="row"> -->
        <div class="col-lg-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
          <form id="form_builder" class="form-meshna" action="{{ .Params.form_action }}"
          method="POST" role="form">
            {{ range .Params.inputs }}
              <div class="form-group {{.width}}">
                <input type="{{ .type }}" autocomplete="{{ .autocomplete }}" placeholder="{{ .placeholder }}" class="form-control" name="{{ .name }}" id="{{ .name }}" required>
              </div>
            {{ end }}
            {{ range .Params.selects }}
            <div class="form-group {{.width}}">
              <select name='{{ .name }}' class='switch'>
                <option value='' disabled selected>{{ .placeholder }}</option>
                {{ range .options }}
                  <option value='{{ .option }}'>{{ .option }}</option>
                {{ end }}
              </select>
            </div>
            {{ end }}
            {{ range .Params.textareas }}
            <div class="form-group {{.width}}">
              <textarea rows="6" placeholder="{{ .placeholder }}" class="form-control" name="{{ .name }}" id="{{ .name }}" required></textarea>
            </div>
            {{ end }}
            <div id="cf-submit">
              <button type="submit" id="builder_submit" class="btn btn-transparent btn-block" value="{{ .Params.submit }}">{{ .Params.submit }}</button>
            </div>
            <p id='form-status'></p>
          </form>
        </div>
    </div>
  </div>
</section>
{{/* /contact  */}}
{{ end }}

{{ end }}