!!!5
%html
  {% convert_include global_head.haml %}
  %body
    #container
      {% convert_include global_nav.haml %}
      #content.page
      {{ content }}
    %footer
      {% convert_include global_footer.haml %}
