$yellow: #f5ca00;
$black:  #000;

body {
  font-family: 'Abel', sans-serif;
  font-size: 120%;
}

header {
  nav {
    text-align: center;
    margin: 0 auto;

    .link {
      padding: 0.5em;
      margin: 0.1em auto;
      display: inline-block;
      width:31%;
      background-color: $yellow;
      border: 3px solid $black;

      a {
        color: $black;
        font-size: 2em;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
