$yellow: #f5ca00;
$black:  #000;

body {
  font-family: 'Roboto', sans-serif;
  font-size: 120%;
  font-weight: 300;
}

#container {
  width: 80%;
  margin: 0 auto;
}

#mce-responses {
  font-weight: bold;
}

footer {
  font-size: 65%;
  width: 50%;
  margin: 0 auto;
}

header {
  h1 {
    text-align:center;
  }
  nav {
    text-align: center;
    margin: 0 auto;

    .link {
      padding: 0.3em;
      margin: 0.1em auto;
      display: inline-block;
      width:20%;
      background-color: $yellow;
      border: 3px solid $black;

      a {
        color: $black;
        font-size: 1.4em;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

blockquote {
  margin: 1em 3em;
  font-style: italic;
  color: #666;
  border-left: 2px solid #666;
  padding-left: 1em;
}

div.post {
    .byline {
      font-size: 70%;
    }
    .date {
      font-size: 60%;
    }
    a {
      //text-decoration: none;
    }
    p.img {
      text-align:center;
    }
}

@media screen and (max-width: 720px){
  #container, footer {
    width: 100%;
  }
}
